.posts button {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMWVtIiAgaGVpZ2h0PSIxZW0iIHZpZXdCb3g9IjAgMCAxNiAxNiIgY2xhc3M9ImJpIGJpLWV5ZSIgZmlsbD0iY3VycmVudENvbG9yIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMTYgOHMtMy01LjUtOC01LjVTMCA4IDAgOHMzIDUuNSA4IDUuNVMxNiA4IDE2IDh6TTEuMTczIDhhMTMuMTM0IDEzLjEzNCAwIDAgMCAxLjY2IDIuMDQzQzQuMTIgMTEuMzMyIDUuODggMTIuNSA4IDEyLjVjMi4xMiAwIDMuODc5LTEuMTY4IDUuMTY4LTIuNDU3QTEzLjEzNCAxMy4xMzQgMCAwIDAgMTQuODI4IDhhMTMuMTMzIDEzLjEzMyAwIDAgMC0xLjY2LTIuMDQzQzExLjg3OSA0LjY2OCAxMC4xMTkgMy41IDggMy41Yy0yLjEyIDAtMy44NzkgMS4xNjgtNS4xNjggMi40NTdBMTMuMTMzIDEzLjEzMyAwIDAgMCAxLjE3MiA4eiIvPgogICAgPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNOCA1LjVhMi41IDIuNSAwIDEgMCAwIDUgMi41IDIuNSAwIDAgMCAwLTV6TTQuNSA4YTMuNSAzLjUgMCAxIDEgNyAwIDMuNSAzLjUgMCAwIDEtNyAweiIvPgo8L3N2Zz4K");
    background-position: center;
    background-repeat: no-repeat;
}
